{% extends "master/base.html" %} 
{% load static %}

{% block title %}
  Beli Obat
{% endblock title %}

{% block body %}
<form action="/update_produk" method="post">
  {% for obat in obats%}
  <div class="form-outline mb-4">
    <input
      type="number"
      id="no_obat"
      class="form-control"
      name="no_obat"
      value="{{ obat['no_obat'] }}"
    />
    <label class="form-label" for="no_obat">Nomor Obat</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="text"
      id="nama_obat"
      class="form-control"
      name="nama_obat"
      value="{{ obat['nama_obat'] }}"
    />
    <label class="form-label" for="nama_obat">Nama Obat</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="number"
      id="harga_jual_obat"
      class="form-control"
      name="harga_jual_obat"
      value="{{ obat.harga_jual_obat }}"
    />
    <label class="form-label" for="harga_jual_obat">Harga Jual Obat</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="number"
      id="harga_obat"
      class="form-control"
      name="harga_obat"
      value="{{ obat.harga_obat }}"
    />
    <label class="form-label" for="harga_obat">Harga Obat</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="number"
      id="stock"
      class="form-control"
      name="stock"
      value="{{ obat.stock }}"
    />
    <label class="form-label" for="stock">Stock</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="number"
      id="terjual"
      class="form-control"
      name="terjual"
      value="{{ obat.terjual }}"
    />
    <label class="form-label" for="terjual">Terjual</label>
  </div>
  {% endfor %}
  
  <button type="submit" class="btn btn-primary btn-block mb-4">
    Beli Obat
  </button>
</form>
{% endblock body %}
