{% extends "master/base.html" %}
{% load static %}
{% block title %}List Obat{% endblock title %}
{% block body %}
<br />
{% for message in messages %}
{% if message %}
  <div class="alert alert-success">{{ message }}</div>
{% endif %}
{% endfor %}
<div class="table-responsive">
  <table class="table table-striped table-fixed" id="data">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nomer Obat</th>
        <th scope="col">Nama Obat</th>
        <th scope="col">Supplier</th>
        <th scope="col">Stock</th>
        <th scope="col">Harga Obat</th>
        <th scope="col">Kadarluarsa</th>
        <th scope="col">Jenis Obat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for obat in obats %}
      <tr>
        <td><a href="{% url 'obat:update_obat' obat.id %}">{{ obat.kode_obat }}</a></td>
        <td>{{ obat.nama_obat }}</td>
        <td>{{ obat.supplier }}</td>
        <td>{{ obat.stok }}</td>
        <td>{{ obat.terjual }}</td>
        <td>Rp. {{ obat.harga }}</td>
        <td>{{ obat.jenis_obat_id.fungsi_obat }}</td>
        <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hapus-{{obat.id}}">
          Hapus
        </button></td>
        <div class="modal" id="hapus-{{obat.id}}">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Yakin akan dihapus?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                Nama Obat : {{obat.nama_obat}}
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>
                <a href="{% url 'obat:delete_obat' obat.id %}" class="btn btn-danger">Hapus</a>
              </div>
              
            </div>
          </div>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}